/* Body styles */
body {
  
   /* background-image: url('https://img.freepik.com/free-photo/sad-timid-lonely-redhead-woman-too-feeling-let-down-depressed-sulking-looking-upset-envy_1258-126247.jpg?t=st=1744552466~exp=1744556066~hmac=295c09ed5af7b2b9603910e6951211fff65f0b2e200ffcf27a36453492653391&w=1380');*/
   background-image: url('https://img.freepik.com/free-psd/3d-rendering-questions-background_23-2151455632.jpg?t=st=1744552435~exp=1744556035~hmac=f9027b53e4d4b5acaf5328643d7410cdc4b100fa84b61bc823753e63bb284d05&w=1380');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Styling for question container */
  #question-container {
    display: block;
  }
  
  #final-score {
    display: none;
  }
  
  #options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .option-btn {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-btn:hover {
    background-color: #007B8A;
  }
  
  #score {
    font-size: 1.5rem;
    margin: 20px;
  }
  .lifeline-btn {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lifeline-btn:hover {
    background-color: #e67e22;
  }
  
  